src/main/mule/fakestore-cart-papi-ccx.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
   
    <flow name="fakestore-cart-papi-main">
        <http:listener config-ref="fakestore-cart-papi-httpListenerConfig" path="/api/${layer}/${context}/${version}/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="fakestore-cart-papi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Common Error Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"header":{
		"apiName": p('app.name'),
		"apiVersion": p('version'), 
		"correlationId": correlationId,
    }, 
    "error": {
		"description": error.description,
		"status": error.errorType.identifier,
		"invocationTimestamp": now()
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Common Error Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"header":{
		"apiName": p('app.name'),
		"apiVersion": p('version'),
		"correlationId": correlationId,
    }, 
    "error": {
		"description": error.description,
		"status": error.errorType.identifier,
		"invocationTimestamp": now()
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Common Error Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"header":{
		"apiName": p('app.name'),
		"apiVersion": p('version'),
		"correlationId": correlationId,
    }, 
    "error": {
		"description": error.description,
		"status": error.errorType.identifier,
		"invocationTimestamp": now()
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Common Error Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"header":{
		"apiName": p('app.name'),
		"apiVersion": p('version'),
		"correlationId": correlationId,
    }, 
    "error": {
		"description": error.description,
		"status": error.errorType.identifier,
		"invocationTimestamp": now()
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Common Error Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"header":{
		"apiName": p('app.name'),
		"apiVersion": p('version'),
		"correlationId": correlationId,
    }, 
    "error": {
		"description": error.description,
		"status": error.errorType.identifier,
		"invocationTimestamp": now()
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Common Error Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"header":{
		"apiName": p('app.name'),
		"apiVersion": p('version'),
		"correlationId": correlationId,
    }, 
    "error": {
		"description": error.description,
		"status": error.errorType.identifier,
		"invocationTimestamp": now()
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="fakestore-cart-papi-console">
        <http:listener config-ref="fakestore-cart-papi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="fakestore-cart-papi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\carts\(id):application\json:fakestore-cart-papi-config">
		<flow-ref doc:name="updateCart" doc:id="253427f5-a3f7-42e9-a1d4-04204baf9485" name="updateCart-implFlow"/>
    </flow>
    <flow name="delete:\carts\(id):fakestore-cart-papi-config">
		<flow-ref doc:name="deleteCart" doc:id="0f39a7d4-0ee5-4082-9390-ea77c746f8bb" name="deleteCart-implFlow"/>
    </flow>
    <flow name="get:\carts:fakestore-cart-papi-config">
		<flow-ref doc:name="getAllCarts" doc:id="1fd02ae7-974a-4315-b7fe-403b9f5ef623" name="getAllCarts-implFlow"/>
    </flow>
    <flow name="get:\carts\(id):fakestore-cart-papi-config">
		<flow-ref doc:name="getCartByID" doc:id="da0c6d0c-7b4b-42a9-b4ba-78e7b74deae6" name="getCartByID-implFlow"/>
    </flow>
    <flow name="post:\carts:application\json:fakestore-cart-papi-config">
		<flow-ref doc:name="createNewCart" doc:id="8d1d8716-57e9-4be5-a3cd-f794bcb7b3e2" name="createNewCart-implFlow"/>
    </flow>
    <flow name="post:\checkout:application\json:fakestore-cart-papi-config">
		<flow-ref doc:name="checkoutCart" doc:id="86ad1ffc-4e13-4590-b53f-5efd170445cd" name="checkoutCart-implFlow"/>
    </flow>
</mule>
